<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Sports Shoes </title>
</head>

<body>

<div class="container">

	<h3>Product List</h3>
	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Product Price</th>
				<th>Product category</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="theproduct : ${products}">
			
				<td th:text="${theproduct.prodid}" />	
				<td th:text="${theproduct.name}" />	
				<td th:text="${theproduct.price}" />	
				<td th:text="${theproduct.category}" />
				<td>
					<a th:href="@{/applica/showFormForUpdate(productId=${theproduct.prodid})}"
					   class="btn btn-info btn-sm">
						Update
					</a>			
					<a th:href="@{/applica/delete(productId=${theproduct.prodid})}"
					   class="btn btn-danger btn-sm">
						Delete
					</a>
					
				</td>
			</tr>
		</tbody>		
	</table>
	<hr>
	<br></br>
	<h3> Purcahse Reporting </h3>
	<br></br>
		<a href="/Report/purchases"
			class="btn btn-danger btn-sm">
				Go To Purchase Reporting 
		</a>
	 <br></br>
	 <br></br>
	 	<h3> Users List </h3>
	<br></br>
		<a href="/users/filter"
			class="btn btn-danger btn-sm">
				Go To Users 
		</a>
</div>
	
</body>
</html>



