<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Sports Shoes </title>
</head>

<body>

<div class="container">

	<h3>Admin Page</h3>
	<hr>
	
					<a th:href="@{/applica/adminHandling)}"
					   class="btn btn-info btn-sm">
						Go To Products Admin Page
					</a>			
					<a th:href="@{/Report/purchases)}"
					   class="btn btn-danger btn-sm">
						Go To Purchase Reporting 
					</a>

	
</div>
	
</body>
</html>



